<footer class="container-fluid text-center" style=" bottom:0; margin-top: 80px ;background-color: #23415c;width:100%;padding-top: 3%;padding-bottom: 3%;color:#FFF;">
        <div class="row">
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <br><br>
                <h3>Our Adress And Contact Info Here</h3>
 <h5>SummerGeek Team , Patna , Bihar 800005</h5>
            </div>
            <div class="col-sm-4">
<h2>Connect</h2>
<a href="https://www.facebook.com" class="fa fa-facebook"></a>
<a href="https://www.twitter.com" class="fa fa-twitter"></a>
<a href="https://www.google.com" class="fa fa-google"></a>
<a href="https://www.youtube.com" class="fa fa-youtube"></a>
<a href="https://www.instagram.com" class="fa fa-instagram"></a>



                </div>
                <div class="col-sm-4">
                        <img src="guest.png" style="max-width: 300px;" alt="">
                    </div>
        </div>

    </footer>
</body>
</html>