
                  <% include partials/header.ejs %>

                  <br><br><br><br>
                  
<div class="container-fluid">
        <div class="row">
                <div class="col-lg-4">
                    </div><div><div class="col-lg-4">
                <h1>Host Login Page</h1>
        <br>
                <form class="form-group" action="/login" method="POST">
        <label>Username</label>
        <input class="form-control" type="text" name="username" placeholder="Type username">
        <br>
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="Type password"><br>
        <button class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
        </div>
        </div>



        <% include partials/footer.ejs %>