                      <% include partials/header.ejs %>
                     <br><br><br><br>
<div class="container-fluid">
        <div class="row">
                <div class="col-lg-4">
                    </div><div><div class="col-lg-4">
                <h1>Host Registration Page</h1>
        <br>
                <form class="form-group" action="/signup" method="POST">
        <label>Name</label>
        <input class="form-control" type="text" name="name" placeholder="Type Full name"  required>
        <br>
        <label>Username</label>
        <input class="form-control" type="text" name="username" placeholder="Type username"  required>
        <br>
        <label>Email</label>
        <input class="form-control" type="email" name="email" placeholder="Type Email"  required><br>
        
        <label>Phone</label>
        <input class="form-control" type="number" name="phone" placeholder="Type Phone"  required><br>
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="Type Password"  required><br>
        <button class="btn btn-primary">Submit</button>
        </form>
        </div>
        </div>
        </div>
        </div>
      
        <% include partials/footer.ejs %>